
 
        * {
            margin: 0;
            padding: 0;
        }

        .main-wrapper {
            box-shadow: 0px 3px 6px #00000029;
            padding: 70px;
        }

        .income-detail-header {
            display: flex;
            margin-bottom: 46px;
        }

        .income-detail-header h2 {
            color: #15658D;
            font-size: 30px;
            font-weight: bold;
        }

        .income-detail-header ul {
            display: flex;
            align-items: center;
            margin: 0;
        }

        .income-detail-header ul li {
            list-style: none;
            color: #368BBA;
            font-size: 18px;
            margin-left: 31px;
            padding-right: 20px;
            position: relative;
        }

        .income-detail-header ul li::after {
            content: '';
            border: 1px solid #D9D3CC;
            position: absolute;
            height: 20px;
            right: 0;
            top: 6px;
        }

        .income-detail-header ul  li:last-child:after {
            border: none;
        }

        .income-detail-header ul li a {
            text-decoration: none;
            color: #368BBA;
            font-size: 18px;
        }

        .income-detail-header ul li a img {
            margin-right: 10px;
        }

        .income-details-wrappr {
            padding: 0px 100px;
            width: 100%;
        }

        .form-group label {
            color: #15658D;
            font-size: 18px;
            margin-bottom: 15px;
        }

        .form-group input::placeholder {
 			color: #15658D;
            font-size: 16px;
        }

        .form-control {
            height: 62px;
            border-radius: 10px;
            border: 1px solid #EFEFEF;
            outline: none;
            font-size: 16px;
            display: block;
            color: #368BBA;
            
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }

        .form-control:focus {
            border: 1px solid #EFEFEF;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .form-group,
        .download-icon {
            margin-bottom: 30px;
        }

        .download-icon img {
            margin-right: 13px;
        }

        .income-details .terms-conditions a {
            color: #15658D;
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
        }

        .income-details .download-icon a {
            color: #15658D;
            font-size: 16px;
        }

        .income-details h3 {
            color: #15658D;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }

        .button-same {
            padding: 9px 35px;
            font-size: 18px;
            border-radius: 20px;
        }

        .button-blue {
            background-color: #15658D;
            color: #FFFFFF;
            border: 1px solid transparent;
        }

        .button-blue:hover {
            color: #15658D;
            background-color: #FFFFFF;
            border: 1px solid #15658D;
        }

        .button-white:hover {
            background-color: #15658D;
            color: #FFFFFF;
        }

        .button-white {
            color: #15658D;
            background-color: #FFFFFF;
            border: 1px solid #15658D;
        }

        .buttons {
            display: flex;
            gap: 20px;
        }


        .discount,
        .total-premium {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #15658D;
        }

        .discount h5,
        .total-premium h5 {
            font-size: 16px;
            margin: 0;
        }

        .discount-price {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .discount-price h6 {
            font-size: 14px; 
            text-decoration:initial !important;
            margin: 0;
        }

        .discount-price span {
            font-size: 20px;
            font-weight: bold;
            margin: 0;
            padding: 0 8px;
        }

        .discount-price p {
            font-size: 14px;
            margin: 0;
        }

        .existing-customer {
            margin-bottom: 30px;
        }

        .existing-customer span {
            color: #368BBA;
        }

        .discount {
            margin-bottom: 35px;
        }

        .total-premium {
            margin-bottom: 26px;
        }

/*         .income-details-wrappr .form-group select {
            background-image: url(/documents/d/safe_sail/drop-down) !important;
            appearance: none;
            background: transparent;
            background-repeat: no-repeat;
            background-position: center right 20px;
        } */
     .income-details-wrappr .form-group select {
            background-image: url(/documents/d/safe_sail/drop-down) !important;
            appearance: none;
    background: transparent;
    background-repeat: no-repeat !important;
    background-position: center right 20px !important;
    background-size: 20px !important;
    }

        @media only screen and (max-width:991px) {
            .income-details-wrappr {
                padding: 0px 40px;
            }

            .income-details-second {
                margin-top: 40px;
            }

            .main-wrapper {
                padding: 50px;
            }
        }

        @media only screen and (max-width:767px) {
            .income-details-wrappr {
                padding: 0px 15px;
            }

            .main-wrapper {
                padding: 15px;
            }

            .income-detail-header {
                flex-direction: column;
            }

            .income-detail-header h2 {
                margin-bottom: 20px;
            }

            .income-detail-header ul li {
                margin-left: 0px;
                margin-right: 12px;
                padding-right: 12px;

            }

            .income-detail-header {
                margin-bottom: 40px;
            }
            
        }
 